.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(202, 202, 202);
    width: 500px;
    height: 500px;


    h1{
        color: white;
    }

    .a{
        display: flex;
        flex-direction: column;
    }

    .b{
        display: flex;
        flex-direction: column;
        text-align: right;
    }

    a{
        display: flex;
        text-align: right;
        align-items: right;
    }
}







